[MASTER]
# Use multiple processes to speed up Pylint
jobs=0

# Python code to execute, usually for sys.path manipulation
init-hook='import sys; sys.path.append(".")'

# Pickle collected data for later comparisons
persistent=yes

# List of plugins (as comma separated values of python modules names)
load-plugins=

[MESSAGES CONTROL]
# Disable specific warnings
disable=
    missing-docstring,
    invalid-name,
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-instance-attributes,
    too-many-public-methods,
    too-many-return-statements,
    too-many-boolean-expressions,
    import-outside-toplevel,
    consider-using-f-string,
    use-dict-literal,
    unnecessary-lambda,
    unnecessary-list-index-lookup

[FORMAT]
# Maximum number of characters on a single line
max-line-length=100

# Regexp for a line that is allowed to be longer than the limit
ignore-long-lines=^\s*(# )?<?https?://\S+>?$

# Number of spaces of indent required inside a hanging or continued line
indent-after-paren=4

# String used as indentation unit
indent-string='    '

# Expected format of line ending
expected-line-ending-format=

[BASIC]
# Good variable names which should always be accepted
good-names=i,j,k,ex,Run,_,id,pk,db

# Bad variable names which should always be refused
bad-names=foo,bar,baz,toto,tutu,tata

# Include a hint for the correct naming format with invalid-name
include-naming-hint=yes

[DESIGN]
# Maximum number of arguments for function / method
max-args=10

# Maximum number of attributes for a class
max-attributes=15

# Maximum number of boolean expressions in an if statement
max-bool-expr=5

# Maximum number of branch for function / method body
max-branches=15

# Maximum number of locals for function / method body
max-locals=20

# Maximum number of parents for a class
max-parents=7

# Maximum number of public methods for a class
max-public-methods=30

# Maximum number of return / yield for function / method body
max-returns=10

# Maximum number of statements in function / method body
max-statements=60

# Minimum number of public methods for a class
min-public-methods=0

[IMPORTS]
# Allow wildcard imports from modules that define __all__
allow-wildcard-with-all=no

# Analyse import fallback blocks
analyse-fallback-blocks=no

# Force import order to recognize a module as part of the standard
# compatibility library
known-standard-library=

# Force import order to recognize a module as part of a third party library
known-third-party=

[EXCEPTIONS]
# Exceptions that will emit a warning when being caught
overgeneral-exceptions=BaseException,Exception
